<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/public/style.css">

</head>
<body>
  <form action="/movies" method="post">
      <label for="name">Movie title
        <input id="name" type="text" name="name">
      </label>

      <label for="director">Director
        <input id="director"type="text" name="director">
      </label>

      <label for="year">Year
        <input id="year"type="text" name="year">
      </label>


      <label for="rating">My Rating
        <input id="rating"type="text" name="rating">
      </label>

      <label for="poster">Poster URL
        <input id= "poster" type="text" name="poster">
      </label>


    <input type="submit" value="add a movie" >

  </form>
</body>
</html>
